


<!--start services-->

<section class="pt-5 pb-5" id="services">
    <div class="container">
      <h1 class="section-title pb-5">{{'services.heading' | translate}}</h1>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/ortho.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head">
                <h2> {{'services.Orthodonitics' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-Orthodonitics' | translate}}
              </p>
            </span>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/holly.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head adjusting">
                <h2>{{'services.Hollywood' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-Hollywood' | translate}}
              </p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <a class="layering-cell">
            <img class="layering-img" src="assets/images/implement.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head adjusting1">
                <h2>{{'services.implement' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-implement' | translate}}
              </p>
            </span>
          </a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/7.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head adjusting2">
                <h2>{{'services.bridges' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-bridges' | translate}}
              </p>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/laser.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head">
                <h2> {{'services.optical' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-optical' | translate}}
              </p>
            </span>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <a class="layering-cell">
            <img class="layering-img" src="assets/images/white.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head adjusting3">
                <h2>{{'services.teeth' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-teeth' | translate}}
              </p>
            </span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/roots.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head">
                <h2> {{'services.filling' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-filling' | translate}}
              </p>
            </span>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/surgery.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text">
              <span class="btn btn-dark head">
                <h2>{{'services.endodontics' | translate}}</h2>
              </span>

              <p class="p">
                {{'services.text-endodontics' | translate}}
              </p>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layering">
          <div class="layering-cell">
            <img class="layering-img" src="assets/images/Medical-Tourism-1.png" />
            <span class="layering-overlay"></span>
            <span class="layering-text-eng">
              <span class="btn btn-dark head adjusting">
                <h2> {{'services.tourism' | translate}}</h2>
              </span>
              
              <p class="p-eng">
                {{'services.text-tourism' | translate}}
              </p>
               <div class="text-center pt-3">
 <a
   href="https://wa.me/+201156332233"
   class="btn btn-primary book-now"
   >Book Now</a
 >
</div>
            </span>
          </div>
         
         
         
         
         
         
         
        </div>
      </div>
    </div>
  </section>


<!--End services-->
